---
import HalloweenPumpkinApp from '../components/HalloweenPumpkinApp';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Fiesta de calabazas.">
	<main>
		<HalloweenPumpkinApp client:load />
	</main>
</Layout>

<style>
	
</style>
